html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}
a{ text-decoration: none;}
a:hover{ text-decoration: none;}
li {list-style: none;}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    color: #606060;
    font-weight: 400;
}
.extra-div h2,.servicediv h2 {
    font-size: 1rem;
    line-height: 1.1;
    word-spacing: 4px;
    margin: 20px 0px 15px 0px;
    font-weight: bold;
}
i{
    color: #10ecbc;
}
.header .headline {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
/* *******actual css Stating******* */
.header {
    width: 100%;
    height: 100vh;
   background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url(../img/header.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   position: relative;
   clip-path: polygon(0% 0%, 100% 0%,100% 75%,50% 100% ,0% 75%);
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background:linear-gradient(to right ,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}
.navbar::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background:linear-gradient(to right ,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}
.navbar-brand img{
    width: 150px;
}
.nav-item {
    color: #fff !important;
    font-weight: bold;
}
.header-section {
    width: 100%;
    text-align: center;
    position: relative;
    height: inherit;
    color: white;
}
.center-div{ 
    width: 100%;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
}

.center-div p {
    font-size: 1.3rem;
    padding: 10px 0px 20px 0px;
    color: #fff;
}
.header-buttons a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    line-height: 1.4;
    font-size: 1rem;
    color: #fff ;
}
.header-buttons a:hover {
    color: #50d1c0;
    background: #fff;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
}
/* ********Three extra header div start*************** */

.header-threeSections {
    margin: 100px 0px;
    height: auto;
    width: 100%;
    text-align: center;
}
.extra-div {
    padding: 50px 20px;
    background: #fff;
    border: medium none;
    border-radius: 3px;
    transition: all 0.3s;
     
}
.extra-div:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
    transition: all 0.3s;
     
}
/* ********Three extra header div End*************** */

/* ********Service offer Start*************** */

.service-offer{
    background: #f7f7f9;
    margin-bottom: 50px;
    padding: 50px 0px;
}
.headings {
     margin-bottom: 50px;
}
.headings h1 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.names {
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform:uppercase;
    font-weight: bold;
}
.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress {
    height: 0.7rem !important;
    background-color: #606060;
    margin-bottom: 22px !important;

}
/* ********Service offer End*************** */

/* ********Project Start*************** */
.project-work {
    margin: 100px 0px;
}
.project-work h1 {
    font-size: 2rem;
    text-align: center;
}
/* ********Project End*************** */

/* ********* Our Pricing start *************** */
.pricing {
    padding: 50px;
    width: 100%;
    height: 100vh;
    position: relative;
}
.pricing::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background:linear-gradient(160deg,#16c9f6 55%,#fff 0%);
}
.money {
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card {
    transition: 0.4s ease;
}
.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card-header {
    font-weight: bold;
    font-size: 1.6rem;
    background-color: #fff;
    padding: 25px 9px !important;
}
.card-body {
    padding: 30px 0px !important;
}
.card-body li {
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #606060;
}
.card-footer {
    background-color: #fff;
    padding: 30px 0px !important;
}
.card-footer a {
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    line-height: 1.4;
    font-size: 1rem;
    color: #50d1c0;
}
.card:hover .card-footer a {
    color: #fff;
    background: #50d1c0;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header,.card:hover .money {
    color: #50d1c0;
}
.second-card .card {
    transform: translateY(-20px);
}
/* ********* Our Pricing End *************** */

/* ********* Happy Client Start *************** */
.happyclient {
    width: 100%;
    height: 100vh;
    padding: 80px 0px ;
}
.box {
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
    padding: 20px 0px;
}
.box p {
    padding: 20px 0px;
}
.box:hover {
    background-color: #16c9f6;
}
.box:hover  p {
    color: white;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px !important;
}
.carousel-indicators li {
    background-color: #16c9f6 !important;
}
.box a {
    position: relative;
    margin: 20px 0px;
    
}
.box a::after {
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height:40px;
    border-radius: 50%;
    background: linear-gradient(to right, #1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
    position: absolute;
    top: 120%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box a img {
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.box h1 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box h2 {
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* ********* Happy Client End *************** */


/* ********* ContactUs Start *************** */

.contactus {
    padding: 80px 0px !important;
    width: 100%;
    height: 100vh;
    position: relative;
}
.contactus::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(330deg,#16c9f6 55%, #fff 0%);
    z-index: -1;
}
.from-button button {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    line-height: 1.4;
    font-size: 1rem;
    color: #fff ;
    background: transparent;
}
form:hover .from-button button {
    background-color: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
::placeholder{
    font-size: 0.85rem;
}
/* ********* ContactUs End *************** */

/* ********** Newsletter Start *************** */

.newslatter {
    width: 100%;
    height: auto;
    padding: 80px 0px !important;
}
.news-input {
    border-radius: 100px 0px 0px 100px !important;
}
.input-group-text{
    color: #fff;
    background: #5bc0de;
    border-radius: 0px 100px 100px 0px !important;
    min-width: 130px;
    min-height: 40px;
}
/* ********** Newsletter End *************** */

/* ********** Footer Start  *************** */

.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0px 20px 0px;
    background: #00abff;
    position: relative;
}
.footersection p {
    color: #fff;
}
.footersection li a {
    color: #fff;
    line-height: 1.6;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: 400;
}
.footersection h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 1.6rem !important;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
#myBtn:hover {
    color: #606060;
}
/* ********** Footer End  *************** */




/* 
*****************MediaQuery Start****************** */

@media (max-width:768px){
    .nav-item{
        text-align: center;
    }
    .header .headline {
        margin-top: 120px !important;
    }
    .pricing {
        height: auto;
    }
    .second-card {
        margin: 30px 0px !important;
    }
    .second-card:hover{
        transform: translateY(-20px);

    }
    .footersection:nth-child(2){
        text-align: left;
    }
    .footerContent{
        margin: 30px 0px !important;
    }
}











